/* Alliance No1 Font Family */

@font-face {
  font-family: "Alliance No1";
  src: url("./fonts/AllianceNo1-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance No1";
  src: url("./fonts/AllianceNo1-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance No1";
  src: url("./fonts/AllianceNo1-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
