name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: cargo-bins/cargo-binstall@main

      - uses: Swatinem/rust-cache@v2
      
      - name: Install system dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libwebkit2gtk-4.1-dev \
            libgtk-3-dev

      - name: Cargo check
        run: cargo check --locked

      - name: Cargo test
        env:
          RUST_LOG: warn,lib=trace,iroh_proxy_utils=trace
        run: cargo test -p lib --locked

      - name: Cargo clippy
        run: cargo clippy --workspace --all-features --all-targets --lib --bins --tests --benches --examples

      - name: Cargo fmt
        run: cargo fmt --check --all
