name: Publish Docker Image

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions:
  contents: read
  packages: write

jobs:
  publish:
    uses: datum-cloud/actions/.github/workflows/publish-docker.yaml@main
    with:
      image-name: iroh-gateway
    secrets: inherit
